html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #dcdcdc;
}

button,
input {
  -webkit-app-region: no-drag !important;
}

.mantine-Tabs-tabsList {
  flex-wrap: nowrap;
}
